<div class="container">
  <div class="list-group">
    <div class="list-group-item">
      <h5 class="mb-1"><%= @game.name %></h5>
      <p>
        <%= @game.description %>
      </p>
      <small class="form-text text-muted"><%= @game.user.email %> - <%=time_ago_in_words(@game.created_at) %> ago</small>
      <%= link_to 'Edit', (edit_game_path(@game) unless @game.user != current_user), class: 'btn btn-sm btn-info' %>
    </div>
  </div>


  <div class="container">
    <div class="card-columns">
      <% @game.notes.each do |note| %>
        <% if show_note?(note) %>
          <div class="card bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title text-capitalize"><%= note.name %></h5>
              <p class="card-text" style="font-size: medium"><%= truncate(note.content, length: 200) %></p>
              <footer class="blockquote-footer">
                <small>
                  <cite title="Source Title"><%= note.user.email %></cite>
                </small>
              </footer>
              <% if @game.user_id == current_user.id || note.user_id == current_user.id %>
                <%= button_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


  <%= form_for(@game.notes.build, html: {class: 'form-group'}) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, id: 'note-name', class: 'form-control' %>
    </div>

    <div>
      <%= f.label :content %>
      <%= f.text_area :content, id: 'note-content', class: 'form-control' %>
    </div>

    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions mt-3">
      <%= f.submit 'Create Note', id: 'note-btn', class: 'btn btn-info' %>
    </div>

  <% end %>

</div>