<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Master:</strong>
  <%= @game.user.email %>
</p>

<%= link_to 'Edit', edit_game_path(@game) unless @game.user != current_user %>

<% if @game.notes.count > 0 %>
  <div>
    <table>
      <thead>
        <th>Name</th>
        <th>Content</th>
        <th colspan="2"></th>
      </thead>
      <tbody>
        <% @game.notes.each do |note| %>
          <% if show_note?(note) %>
            <tr>
              <td><%= note.name %></td>
              <td><%= note.content %></td>
              <td>
                <% if @game.user_id == current_user.id || note.user_id == current_user.id %>
                  <%= button_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<%= form_for(@game.notes.build) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, id: 'note-name' %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content, id: 'note-content' %>
  </div>

  <%= f.hidden_field :game_id, value: @game.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= f.submit 'Create Note', id: 'note-btn' %>
  </div>

<% end %>

