<div class="container">
  <div class="list-group">
    <div class="list-group-item mb-3">
      <h5 class="mb-1"><%= @game.name %></h5>
      <p>
        <%= @game.description %>
      </p>
      <small class="form-text text-muted"><%= @game.user.email %> - <%=time_ago_in_words(@game.created_at) %> ago</small>
      <% if @game.user_id == current_user.id %>
        <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-sm btn-info' %>
      <% end %>
    </div>
  </div>

  <%= render 'notes/form', game: @game, note: @note %>

  <div class="container">
    <div class="card-columns">
      <% @game.notes.each do |note| %>
        <% if show_note?(note) %>
          <div class="card bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title text-capitalize"><%= note.name %></h5>
              <p class="card-text" style="font-size: medium"><%= note.content %></p>
              <footer class="blockquote-footer">
                <small>
                  <cite title="Source Title"><%= note.user.email %></cite>
                </small>
              </footer>
              <% if @game.user_id == current_user.id || note.user_id == current_user.id %>
                <%= link_to 'Edit', edit_game_note_path(@game, note), class: 'btn btn-sm btn-block btn-outline-info' %>
                <%= link_to 'Destroy', game_note_path(@game, note), class: 'btn btn-sm btn-block btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



</div>