<div class="container">
  <div class="list-group">
    <div class="list-group-item mb-3 card bg-dark text-light">
      <h5 class="mb-1"><%= @game.name %></h5>
      <p>
        <%= @game.description %>
      </p>
      <small class="form-text text-muted mb-3"><%= @game.user.email %> - <%= @game.updated_at? ? time_ago_in_words(@game.updated_at) : time_ago_in_words(@game.created_at)  %> ago</small>
      <% if @game.user == current_user %>
        <%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-sm btn-info mb-3' %>
      <% end %>
    </div>

    <% if @game.user == current_user %>
      <div class="list-group-item mb-3 card bg-dark text-light">
        <% @game.gamers.each do |g| %>
          <% next if g.user == current_user %>
          <div>
            <%= link_to 'Delete', g, method: :delete, class: 'btn btn-sm btn-danger mb-3', data: { confirm: 'Are you sure?' } %>
            <%= g.user.email %>
          </div>
        <% end %>
        <%= form_with(model: @gamer, local: true, html: {class: 'form-row align-items-center'}) do |form| %>
          <%= form.text_field :user_email, class: 'form-control ' %>
          <%= form.hidden_field :game_id, value: @game.id %>
          <%= form.submit 'Add Gamer', class: 'btn btn-sm btn-info mt-3' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <% if (@game.users.include? current_user) || @game.user == current_user %>
      <div class="list-group-item card bg-dark text-light mb-3">
        <%= render 'notes/form', game: @game, note: @note %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <div class="card-columns">
      <% @game.notes.each do |note| %>
        <% if show_item?(note) %>
          <div class="card bg-dark text-light">
            <div class="card-body">
              <h5 class="card-title text-capitalize"><%= note.name %></h5>
              <p class="card-text" style="font-size: medium"><%= note.content %></p>
              <footer class="blockquote-footer">
                <small>
                  <cite title="Source Title"><%= note.user.email %></cite>
                </small>
              </footer>
              <% if @game.user_id == current_user.id || note.user_id == current_user.id %>
                <%= link_to 'Edit', edit_game_note_path(@game, note), class: 'btn btn-sm btn-block btn-outline-info' %>
                <%= link_to 'Destroy', game_note_path(@game, note), class: 'btn btn-sm btn-block btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>